DataScienceWithPython/C4_AppliedTextMining/Amazon_Unlocked_Mobile.csv

WorkshopAI/1.2_subsampled_wikis.pickle
WorkshopAI/wikifiles.tar.gz

DS4A/Week2/case_1.3_student/all_energy_statistics.csv

DS4A/Week3/case_4.3_student.zip
DS4A/Week3/case_4.3.zip
DS4A/Week3/case_4.3_student/calendar.csv
DS4A/Week3/case_4.3_student/scalnew.csv
DS4A/Week3/case_4.3_student/scal.csv


DS4A/Week4/case_5.1_student/trips.csv
DS4A/Week4/case_5.2_student/reviews.csv
DS4A/Week4/case_5.2_student/checkins.json
DS4A/Week4/case_5.2_student/us-county-shapes.json
DS4A/Week4/case_5.2_student.zip

Datasets/

DS4A/Week4/extended_case_2_student/files/WDI_csv/WDIData.csv
DS4A/Private