DataScienceWithPython/C4_AppliedTextMining/Amazon_Unlocked_Mobile.csv

WorkshopAI/1.2_subsampled_wikis.pickle
WorkshopAI/wikifiles.tar.gz

DS4A/Week2/case_1.3_student/all_energy_statistics.csv

DS4A/Week3/case_4.3_student.zip
DS4A/Week3/case_4.3.zip
DS4A/Week3/case_4.3_student/calendar.csv
DS4A/Week3/case_4.3_student/scalnew.csv
DS4A/Week3/case_4.3_student/scal.csv


DS4A/Week4/case_5.1_student/trips.csv
DS4A/Week4/case_5.2_student/reviews.csv
DS4A/Week4/case_5.2_student/checkins.json
DS4A/Week4/case_5.2_student/us-county-shapes.json
DS4A/Week4/case_5.2_student.zip

Datasets/

DS4A/Week4/extended_case_2_student/files/WDI_csv/WDIData.csv
DS4A/Private
DS4A/Week6/extended_case_4_student.zip
DS4A/Week6/extended_case_4_student/reviews_Movies_and_TV_5.json.gz
.gitignore
DS4A/Bootcamps/7.StreamlitDashboard
DS4A/Week9/case_17.2_student.zip
DS4A/Week9/extended_case_7_student.zip
DS4A/Week9/case_18.1_student.zip
DS4A/Week9/case_17.2_student/glove.twitter.27B.200d_out.txt
DS4A/Week9/case_17.2_student/Reviews.csv
DS4A/Week9/case_18.1_student/craigslistVehicles.csv
DS4A/Week9/case_18.1_student/used_cars_clean.csv
DS4A/Week9/case_9.5_student/airline_passengers.csv
DS4A/Week10/case_24.1_student_v2.zip

DS4A/Week10/case_24.1_student_v2/meta_Movies_and_TV.json.gz
DS4A/Week10/case_24.1_student_v2/amazon_movie_reviews.csv
DS4A/Week10/case_24.1_student_v2/sample.json